*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1.2;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
}

.is-pc {
	display: block;
}

.is-tab {
	display: block;
}

body {
	color: #000000;
	font-family: "Noto Sans CJK JP", "Noto Sans JP", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.48;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.l-header {
	background: #000000;
	height: 60px;
	margin: 0 auto;
	max-width: 100%;
	position: fixed;
	width: 1920px;
	z-index: 20;
}

.l-header__nav {
	align-items: center;
	display: flex;
	height: 100%;
	margin: 0 auto;
	max-width: 100%;
	width: 1440px;
}

.l-header__left {
	height: 100%;
	width: 50%;
}

.l-header__right {
	height: 100%;
	margin-left: auto;
}

.l-top {
	background: url(../img/top-vector.png) no-repeat right 0%, url(../img/top-background.png) no-repeat center center/cover;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.l-top__nav {
	display: flex;
	margin-bottom: 92px;
	width: 100%;
}

.l-top__left {
	margin-top: 103px;
	width: 50%;
}

.l-top__right {
	margin-top: 181px;
	width: 50%;
}

.l-inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1440px;
}

.l-inner.-qa {
	padding: 0 20px;
}

.l-inner.-feature {
	padding: 0 20px;
}

.l-inner.-campaign {
	padding: 0 20px;
}

.l-order {
	background: linear-gradient(270deg, #C1272D 0%, #ED1C24 47.92%, #C1272D 100%);
	height: auto;
	height: 351px;
	margin: 0 auto;
	padding: 75px 0 117px;
	text-align: center;
	width: 100%;
}

.l-order.-step {
	background: linear-gradient(270deg, #C1272D 0%, #ED1C24 47.92%, #C1272D 100%);
	height: 380px;
	margin-top: -98px;
	padding: 100px 0 121px;
	transform: skewY(-3deg);
}

.l-order.-voice {
	padding: 83px 0 121px;
}

.l-point {
	background: url(../img/point-bg1.png) no-repeat center center/cover;
	height: auto;
	margin: o auto;
	position: relative;
	width: 100%;
}

.l-step {
	background: url(../img/step-bg.png) no-repeat center center/cover;
	background: #060A09;
	height: auto;
	margin: 0 auto;
	margin-top: -100px;
	overflow: hidden;
	position: relative;
	transform: skew(0deg, -3deg);
	width: 100%;
}

.l-case {
	background: url(../img/case-bg.png) no-repeat center center/cover;
	height: auto;
	margin: 0 auto;
	margin-top: -100px;
	width: 100%;
}

.l-brand {
	background: url(../img/brand-bg__right.png) no-repeat 100% -10.5%, url(../img/brand-bg__left.png) no-repeat 0% 36%, url(../img/brand-bg__right2.png) no-repeat 100% 86%, url(../img/brand-bg.png) no-repeat center center/cover;
	height: auto;
	margin: 0 auto;
	margin-top: -100px;
	transform: skewY(-3deg);
	width: 100%;
}

.l-voice {
	background: url(../img/voice-bg.png) no-repeat center center/cover;
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.l-qa {
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.l-qa__1 {
	animation-duration: 3s;
	animation-name: my-fade-in;
	display: none;
}

.l-qa__1.is-show {
	display: block;
}

.l-qa__2 {
	animation-duration: 3s;
	animation-name: my-fade-in;
	display: none;
}

.l-qa__2.is-show {
	display: block;
}

.l-qa__3 {
	animation-duration: 3s;
	animation-name: my-fade-in;
	display: none;
}

.l-qa__3.is-show {
	display: block;
}

.l-qa__4 {
	animation-duration: 3s;
	animation-name: my-fade-in;
	display: none;
}

.l-qa__4.is-show {
	display: block;
}

.l-feature {
	background: linear-gradient(rgb(77, 77, 77), rgb(77, 77, 77)), url(../img/feature-bg.png) no-repeat 50% 50%/cover;
	background-blend-mode: multiply;
	height: auto;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.l-about {
	background: url(../img/about-screen.png) 0% 50%/cover, url(../img/about-bg.png) no-repeat 50% 50%/cover;
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.l-campaign {
	background: linear-gradient(270deg, #C1272D 0%, #ED1C24 47.92%, #C1272D 100%);
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.l-contact {
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.l-footer {
	background: #000000;
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.l-footer__head {
	padding-top: 49px;
	text-align: center;
}

.l-footer__body {
	display: flex;
	justify-content: center;
	margin-top: 38px;
	padding-bottom: 38px;
}

.l-breadcrumbs {
	margin: 0 auto;
	max-width: 100%;
	padding-top: 100px;
	width: 1160px;
}

.l-kv {
	background: #fff;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	padding-top: 20px;
	width: 100%;
}

.l-post {
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.c-footer {
	background: url(/assets/img/Group\ 15.png) no-repeat center center/contain;
	background: #fff;
	height: auto;
	margin: 0 auto;
	width: 144px;
}

.c-footer__left {
	margin: 10px auto 20px;
	margin-left: 40px;
	width: 50%;
}

.c-footer__address {
	font-size: 18px;
	text-align: center;
}

.c-footer__right {
	margin-left: 30px;
	width: 50%;
}

.c-footer__right img {
	height: 79px;
	margin-left: 7px;
	margin-top: 26px;
	width: 48px;
}

.c-footer__row {
	display: flex;
}

.c-footer__info {
	margin-left: 7px;
	margin-top: 32px;
}

.c-footer__number {
	color: #e21c21;
	font-size: 35px;
}

.c-c-footer__message {
	font-size: 18px;
	text-align: center;
}

.c-footer__contact {
	font-size: 18px;
	margin-left: 30px;
	margin-top: 5px;
}

.c-swiper {
	margin: 0 auto;
}

.swiper-wrapper {
	transition-timing-function: linear;
}

.swiper-slide {
	overflow: hidden;
	transition: 0.7s;
}

.slider .swiper-slide img {
	height: min(16.31944vw, 235px);
	height: 464px;
	width: min(16.31944vw, 235px);
	width: 772px;
}

.c-drawer {
	height: 22px;
	position: relative;
	transition: transform 0.5s ease 0s;
	width: 21px;
	z-index: 22;
}

.c-drawer.is-open {
	right: 13px;
}

.c-drawer.is-open .c-drawer__line:nth-child(1) {
	top: 50%;
	transform: rotate(-45deg);
}

.c-drawer.is-open .c-drawer__line:nth-child(2) {
	display: none;
}

.c-drawer.is-open .c-drawer__line:nth-child(3) {
	top: 50%;
	transform: rotate(45deg);
}

.c-drawer__line {
	background: #000000;
	border-radius: 1px;
	content: "";
	height: 3px;
	margin-top: 2px;
	position: absolute;
	width: 100%;
}

.c-drawer__line.is-show {
	background: #000000;
}

.c-drawer__line:nth-child(1) {
	right: -50%;
	top: 0%;
}

.c-drawer__line:nth-child(2) {
	right: -50%;
	top: 47%;
	transform: translateY(-50%);
	width: 13.3px;
}

.c-drawer__line:nth-child(3) {
	bottom: 0;
	right: -50%;
}

.c-btn {
	background: #F00;
	border-bottom: 8px solid #a30000;
	border-radius: 10px;
	display: inline-block;
	padding: 21px 166px 16px;
	padding: min(1.45833vw, 21px) min(11.527778vw, 166px) min(1.1111vw, 16px);
	padding: 21px min(11.527778vw, 166px) 16px;
	position: relative;
}

.c-btn:hover {
	border-bottom: 3px solid #a30000;
	margin-top: 5px;
}

.c-btn__text {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.c-btn__text.-black {
	color: #000000;
}

.c-btn__white {
	background: linear-gradient(180deg, #ffffff 0%, #ffffff 50%, #f2f2f2 50%, #f2f2f2 100%);
	border-bottom: 10px solid #e6e6e6;
	border-radius: 10px;
	display: inline-block;
	padding: 28px 66px 22px 121px;
	padding: 28px min(4.58333vw, 66px) 22px min(8.402778vw, 121px);
	text-align: center;
}

.c-btn__white:hover {
	border-bottom: 3px solid #e6e6e6;
	margin-bottom: -5px;
	margin-top: 5px;
}

.c-brand__btn {
	background: url(../img/brand-btn.png) no-repeat center center/contain;
	height: 37px;
	width: 260px;
}

.c-brand__model {
	color: #fff;
	font-weight: 700;
	line-height: normal;
	text-align: center;
}

.p-header {
	color: #fff;
}

.p-header__logo {
	display: inline-block;
	margin-left: 30px;
	margin-top: 10px;
}

.p-header__contact {
	background: #FF0000;
	border-radius: 99px;
	margin-right: 30px;
	margin-top: 14px;
	padding: 2px 48px;
}

.p-header__contact:hover {
	transform: scale(1.05);
	transition: all 0.5s ease;
}

.p-header__text {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.48;
	padding: 0 18px;
	position: relative;
}

.p-header__text::before {
	background: url(../img/mail.png) no-repeat center center/contain;
	content: "";
	height: 20px;
	left: -18px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}

.p-header__text::after {
	background: url(../img/arrow\ 1.svg) no-repeat center center/contain;
	content: "";
	height: 18px;
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

.p-top {
	height: auto;
	max-width: 100%;
}

.p-top__title {
	height: auto;
	margin-left: 72px;
	width: min(55.5556vw, 800px);
}

.p-top__title-sp {
	display: none;
}

.p-top__company {
	height: auto;
	margin-left: 120px;
	margin-top: 25px;
	width: min(43.0556vw, 620px);
}

.p-top__company-sp {
	display: none;
}

.p-top__contents {
	align-items: flex-start;
	display: flex;
	gap: 3px;
	margin-left: min(11.875vw, 171px);
	margin-top: 36px;
	position: relative;
	width: 100%;
}

.p-top__transfer {
	height: auto;
	margin-top: 27px;
	max-width: 100%;
}

.p-top__transfer-sp {
	display: none;
}

.p-top__price {
	height: auto;
	max-width: 100%;
}

.p-top__price-sp {
	display: none;
}

.p-top__btn {
	margin-left: min(10.138889vw, 146px);
	margin-top: -4px;
	width: 100%;
}

.p-top__img {
	height: auto;
	margin-left: 200px;
	width: 100%;
}

.p-top__archive {
	margin-left: 74px;
	margin-top: -24px;
}

.p-top__archiveSp {
	display: none;
}

.p-order {
	color: #fff;
	display: inline-block;
	font-size: 17px;
	font-weight: 700;
	position: relative;
}

.p-order span {
	font-size: 32px;
}

.p-order::before {
	border-left: 3px solid #fff;
	content: "";
	height: 30px;
	left: -30px;
	position: absolute;
	top: 25%;
	transform: rotate(-30deg);
}

.p-order::after {
	border-right: 3px solid #fff;
	content: "";
	height: 30px;
	position: absolute;
	right: -26px;
	top: 25%;
	transform: rotate(30deg);
}

.p-order.-step {
	transform: skewY(3deg);
}

.p-order__sp1 {
	display: none;
}

.p-order__sp2 {
	display: none;
}

.p-order__sp2 span {
	font-size: 32px;
	font-weight: 700;
}

.p-order__sp2::before {
	border-left: 3px solid #fff;
	content: "";
	height: 16px;
	left: -13px;
	position: absolute;
	top: 30%;
	transform: rotate(-30deg);
}

.p-order__sp2::after {
	border-right: 3px solid #fff;
	content: "";
	height: 16px;
	position: absolute;
	right: -11px;
	top: 30%;
	transform: rotate(30deg);
}

.p-order__btn {
	margin: 17px auto 0;
}

.p-order__btn.-step {
	transform: skewY(3deg);
}

.p-point {
	height: auto;
	margin: 0 auto;
	padding-top: 120px;
	width: 100%;
}

.p-point__title {
	height: auto;
	padding-left: 31px;
	text-align: center;
	width: 100%;
}

.p-point__title-sp {
	display: none;
}

.p-point__contents {
	display: grid;
	gap: 58px 77px;
	grid-template-columns: repeat(auto-fit, 275px);
	justify-content: center;
	margin: 54px auto 0;
	max-width: 100%;
	padding: 0 5px;
	width: 1000px;
}

.p-point__content {
	background: #333333;
	color: #fff;
	height: 420px;
	height: auto;
	margin-right: 77px;
	max-width: 100%;
	width: 275px;
	z-index: 10;
}

.p-point__content:nth-child(3n) {
	margin-right: 0;
}

.p-point__content:nth-child(2) {
	margin-top: 56px;
}

.p-point__content:nth-child(3) {
	margin-top: 112px;
}

.p-point__content:nth-child(5) {
	margin-left: 10px;
	margin-top: 56px;
}

.p-point__label {
	background: #FF0000;
	display: inline-block;
	margin-left: -10px;
	margin-top: 20px;
	padding: 2px 10px 0 21px;
}

.p-point__number {
	font-size: 20px;
	font-weight: 700;
}

.p-point__number span {
	font-size: 28px;
}

.p-point__row {
	padding: 20px;
}

.p-point__head {
	font-size: 24px;
	font-weight: 700;
	padding-right: 12px;
}

.p-point__body {
	margin-top: 15px;
}

.p-step {
	background: url(../img/point-img.png) no-repeat 100% 55%;
	margin: 222px auto 0;
	margin-bottom: 212px;
	padding-left: min(15.208333vw, 219px);
	transform: skew(0deg, 3deg);
	width: 100%;
}

.p-step__concept {
	background: #fff;
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	padding: 0 20px 0 15px;
}

.p-step__top {
	display: flex;
	margin-left: 7px;
	margin-top: 17px;
}

.p-step__title {
	position: relative;
	z-index: 10;
}

.p-step__titleSp {
	display: none;
}

.p-step__logo {
	margin-left: -230px;
	margin-top: 0;
}

.p-step__contents {
	display: grid;
	gap: 66px;
	grid-template-columns: repeat(auto-fit, 200px);
	justify-content: center;
	margin-top: 140px;
	max-width: 100%;
	width: 1000px;
}

.p-step__content {
	color: #fff;
	height: 305px;
	position: relative;
	width: 200px;
}

.p-step__content:first-child {
	padding-top: 10px;
}

.p-step__content:nth-child(3) {
	padding-top: 5px;
}

.p-step__content:nth-child(4) {
	margin-left: 2px;
	padding-top: 7px;
}

.p-step__content:not(:first-child)::before {
	background: url(../img/arrow-left.png) no-repeat;
	content: "";
	height: 12px;
	left: -36px;
	position: absolute;
	top: 48%;
	transform: translateY(-50%);
	width: 12px;
}

.p-step__icon {
	height: auto;
	text-align: center;
	width: 100%;
}

.p-step__head {
	border-left: 8px solid #ED1C24;
	font-size: 18px;
	font-weight: 700;
	margin-top: 25px;
	padding-left: 8px;
}

.p-step__body {
	margin-top: 22px;
}

.p-step__pack {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	color: #fff;
	display: flex;
	height: 370px;
	height: auto;
	margin-top: 88px;
	max-width: 100%;
	padding: 60px 0 50px;
	width: 1000px;
	width: min(69.444vw, 1000px);
}

.p-step__left {
	width: 63.8%;
}

.p-step__right {
	width: 36.2%;
}

.p-step__sub {
	margin-left: 100px;
}

.p-step__subTitle {
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	position: relative;
}

.p-step__subTitle::before {
	background: url(../img/step_icon02\ 2.svg) no-repeat center center/contain;
	content: "";
	height: 42px;
	left: -53px;
	position: absolute;
	top: -5%;
	width: 42px;
}

.p-step__row {
	margin-left: 41px;
	margin-top: 23px;
}

.p-step__text {
	font-size: 18px;
}

.p-step__kit {
	margin-top: 31px;
}

.p-step__detail {
	border: 1px solid #fff;
	border-radius: 99px;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	padding: 0 40px;
}

.p-step__lists {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 93px;
	margin-top: 20px;
}

.p-step__list {
	list-style-type: disc;
	margin-left: 1em;
}

.p-step__img {
	height: auto;
	margin-top: 2px;
	padding-right: 41px;
	width: 100%;
}

.p-case {
	margin: 0 auto;
	padding: 225px 0;
}

.p-case__top {
	text-align: center;
}

.p-case__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	position: relative;
	z-index: 10;
}

.p-case__title span {
	font-size: 60px;
}

.p-case__title::after {
	background: url(../img/case.svg) no-repeat center center/contain;
	bottom: -23%;
	bottom: -65%;
	content: "";
	height: 78px;
	left: 56%;
	left: 65.5%;
	position: absolute;
	width: 150px;
	z-index: -1;
}

.p-case__lists {
	display: grid;
	gap: 47px 66px;
	grid-template-columns: repeat(auto-fit, 200px);
	justify-content: center;
	margin: 70px auto 0;
	max-width: 100%;
	width: 1000px;
}

.p-case__list {
	height: 380px;
	width: 200px;
}

.p-case__img {
	background: #fff;
	height: 200px;
	padding: 31px 51px;
	width: 200px;
}

.p-case__img img {
	height: auto;
	width: 100%;
}

.p-case__body {
	margin-top: 13px;
	width: 215px;
}

.p-case__subTitle {
	border-left: 8px solid #ED1C24;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	padding-left: 8px;
}

.p-case__price {
	align-items: center;
	background: url(../img/case-price.png) no-repeat center center/contain;
	display: flex;
	gap: 36px;
	height: 30px;
	justify-content: space-between;
	left: 0;
	margin-left: -6px;
	margin-top: 21px;
	top: 0;
	width: 218px;
}

.p-case__name {
	font-size: 12px;
	font-weight: 700;
}

.p-case__money {
	color: #ED1C24;
	font-size: 16px;
	font-weight: 700;
}

.p-case__money span {
	font-size: 28px;
	font-size: 24px;
}

.p-case__comment {
	margin-left: 225px;
	margin-top: 94px;
}

.p-brand {
	padding: 88px 0 120px;
	transform: skewY(3deg);
}

.p-brand__title {
	margin: 0 auto;
	text-align: center;
}

.p-brand__titleSp {
	display: none;
}

.p-brand__lists {
	display: grid;
	gap: 83px 50px;
	grid-template-columns: repeat(auto-fit, 300px);
	height: auto;
	justify-content: center;
	margin: 0 auto;
	margin-top: 113px;
	max-width: 100%;
	width: 1010px;
	z-index: 10;
}

.p-brand__list {
	background: #fff;
	height: 300px;
	width: 300px;
}

.p-brand__head {
	display: flex;
	margin-left: 19px;
	margin-top: 22px;
}

.p-brand__logo {
	color: #ED1C24;
	font-weight: 700;
}

.p-brand__line {
	border-top: 2px solid #ED1C24;
	height: 2px;
	margin-top: 8px;
	width: 215px;
}

.p-brand__body {
	margin: 28px auto 0;
	text-align: center;
}

.p-brand__img img {
	height: 136px;
	width: 97px;
}

.p-brand__model {
	margin-top: 34px;
}

.p-brand__footer {
	background: url(../img/brand-bg__footer.png) no-repeat center 50%/cover;
	box-shadow: 0 -30px 30px #060A09;
	padding-bottom: 259px;
	padding-bottom: 49px;
	padding-top: 60px;
	transform: skewY(3deg);
	width: 100%;
}

.p-brand__inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1440px;
}

.p-brand__subTitle {
	height: auto;
	margin: 0 auto;
	margin-top: 13px;
	padding-left: 36px;
	width: 702px;
}

.p-brand__subTitleSp {
	display: none;
}

.p-brand__contents {
	display: grid;
	gap: 67px;
	grid-template-columns: repeat(auto-fit, 200px);
	justify-content: center;
	margin-top: 82px;
}

.p-brand__content {
	width: 216px;
}

.p-brand__pic {
	height: auto;
	width: 100%;
}

.p-brand__pic img {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.p-brand__text {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	margin-top: 34px;
	position: relative;
	text-align: center;
	width: 215px;
}

.p-brand__text.-second {
	margin-top: 14px;
}

.p-brand__ok {
	margin-top: 22px;
	padding-right: 18px;
	text-align: center;
	transform: rotate(-6deg);
}

.p-brand__ok.-second {
	margin-top: 6px;
	padding-right: 6px;
}

.p-brand__ok.-third {
	padding-right: 0px;
}

.p-voice {
	margin: 0 auto;
	padding: 123px 20px 120px;
}

.p-voice__top {
	text-align: center;
}

.p-voice__title {
	font-size: 60px;
	font-weight: 700;
	position: relative;
	z-index: 10;
}

.p-voice__title::after {
	background: url(../img/voice.svg) no-repeat center center/contain;
	bottom: -24%;
	content: "";
	height: 68px;
	left: 57.5%;
	position: absolute;
	width: 174px;
	z-index: -1;
}

.p-voice__comments {
	background: #fff;
	box-shadow: 0px 4px 40px 13px rgba(0, 0, 0, 0.1);
	height: auto;
	margin: 97px auto 0px;
	max-width: 100%;
	padding: 100px 85px 99px;
	width: 1000px;
}

.p-voice__comment {
	display: flex;
}

.p-voice__comment:nth-child(n+2) {
	margin-top: 100px;
}

.p-voice__comment.-revers {
	flex-direction: row-reverse;
}

.p-voice__left {
	width: 26.5%;
}

.p-voice__person {
	width: 150px;
}

.p-voice__person.-revers {
	margin-left: auto;
}

.p-voice__img img {
	height: 150px;
	width: inherit;
}

.p-voice__profile {
	font-size: 18px;
	margin-top: 25px;
	text-align: center;
}

.p-voice__right {
	width: 73.5%;
}

.p-voice__row {
	border-bottom: 1px solid #333333;
	color: #C1272D;
	font-size: 18px;
	font-weight: 700;
	margin-top: 9px;
	padding-bottom: 4px;
}

.p-voice__row.-second {
	margin-top: 33px;
}

.p-voice__row.-third {
	margin-top: 36px;
}

.p-voice__text {
	margin-top: 20px;
}

.p-voice__text1 {
	background: linear-gradient(transparent 43%, #FF0 0);
}

.p-voice__text2 {
	color: #0071BC;
	font-weight: 700;
}

.p-qa {
	margin: 120px auto 112px;
	padding: 0 20px;
}

.p-qa__top {
	text-align: center;
}

.p-qa__title {
	font-size: 60px;
	font-weight: 700;
	position: relative;
	z-index: 10;
}

.p-qa__title::after {
	background: url(../img/qa.svg) no-repeat center center/contain;
	bottom: -58%;
	content: "";
	height: 123px;
	left: 56.4%;
	position: absolute;
	width: 170px;
	z-index: -1;
}

.p-qa__categories {
	display: grid;
	gap: 33px min(5.76vw, 83px);
	grid-template-columns: 234px 124.5px 124.5px 124.5px;
	grid-template-columns: repeat(auto-fit minmax(124.5px, 234px));
	justify-content: center;
	margin: 83px auto 0;
}

.p-qa__categories li {
	cursor: pointer;
}

.p-qa__category {
	display: inline-block;
	font-size: 18px;
	position: relative;
	text-align: center;
	transition: all 0.3s ease;
}

.p-qa__category::after {
	background: #333;
	bottom: -2px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

.p-qa__category.is-active {
	color: #ED1C24;
	position: relative;
}

.p-qa__category.is-active::before {
	background: url(../img/arrow-black.svg) no-repeat;
	content: "";
	height: 11px;
	left: 50%;
	position: absolute;
	top: -17px;
	transform: translateX(-50%);
	width: 11px;
}

.p-qa__lists {
	height: auto;
	margin: 83px auto 0;
	max-width: 100%;
	width: 661px;
}

.p-qa__list:nth-child(n+2) {
	margin-top: 34px;
}

.p-qa__question {
	cursor: pointer;
	font-size: 18px;
	padding: 8px 0 11px 66px;
	position: relative;
}

.p-qa__question:hover {
	opacity: 0.7;
	transform: scale(1.05);
	transition: all 0.5s ease;
}

.p-qa__question::before {
	content: "Q";
	font-size: 36px;
	font-weight: 700;
	left: -4px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.p-qa__arrow1 {
	background: url(../img/arrow-down__qa.svg) no-repeat;
	height: 16px;
	position: absolute;
	right: 2px;
	top: 45%;
	transform: translateY(-50%);
	transition: all 0.3s ease;
	width: 27px;
}

.p-qa__arrow1.is-open {
	transform: rotate(180deg);
}

.p-qa__answer {
	display: none;
	font-size: 18px;
	margin-top: 32px;
	padding: 8px 0 11px 66px;
	position: relative;
}

.p-qa__answer span {
	color: #ED1C24;
}

.p-qa__answer::before {
	color: #C1272D;
	content: "A";
	font-size: 36px;
	font-weight: 700;
	left: -2px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.p-feature {
	height: auto;
	margin: 0 auto;
	padding: 187px 0 170px;
	padding-left: min(50.694444vw, 710px);
	width: 100%;
}

.p-feature__low {
	margin-top: 38px;
}

.p-feature__tag {
	background: #fff;
	color: #333;
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	padding: 0 5px;
}

.p-feature__text {
	color: #fff;
	font-size: 18px;
	height: auto;
	margin-top: 19px;
	max-width: 100%;
	width: 492px;
}

.p-about {
	height: auto;
	margin: 0 auto;
	padding: 87px 0 82px;
	padding-left: min(13.88889vw, 200px);
	width: 100%;
}

.p-about__low {
	color: #fff;
	margin-top: 52px;
}

.p-about__middle {
	font-size: 20px;
	font-weight: 700;
}

.p-about__sub {
	font-size: 56px;
	font-weight: 700;
	margin-top: 4px;
}

.p-about__tag {
	background: #fff;
	color: #333;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	margin-top: 18px;
	padding: 4px 8px 2px;
}

.p-about__text {
	font-size: 18px;
	font-weight: 700;
	margin-top: 17px;
	max-width: 100%;
	width: 745px;
}

.p-campaign {
	color: #fff;
	margin: 0 auto;
	padding: 120px 0;
	text-align: center;
	width: 100%;
}

.p-campaign__top {
	max-width: 0 auto;
}

.p-campaign__title {
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	padding-left: 22px;
	width: 780px;
}

.p-campaign__detail {
	display: inline-block;
	font-size: 32px;
	font-weight: 700;
	margin-top: 124px;
	position: relative;
	text-align: center;
}

.p-campaign__detail::before {
	border-left: 3px solid #fff;
	content: "";
	height: 30px;
	left: -28px;
	position: absolute;
	top: 25%;
	transform: rotate(-30deg);
}

.p-campaign__detail::after {
	border-right: 3px solid #fff;
	content: "";
	height: 30px;
	position: absolute;
	right: -26px;
	top: 25%;
	transform: rotate(30deg);
}

.p-campaign__contents {
	background: #fff;
	height: auto;
	margin: 55px auto 0;
	max-width: 100%;
	padding: 94px 0 96px;
	width: 1000px;
}

.p-campaign__text {
	color: #ED1C24;
	font-size: 24px;
	font-weight: 700;
	padding-right: 10px;
}

.p-campaign__text span {
	background: #ED1C24;
	color: #fff;
	font-size: 30px;
	letter-spacing: 0.1em;
}

.p-campaign__accent {
	color: #ED1C24;
	display: inline-flex;
	font-size: 30px;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
}

.p-campaign__accent::before {
	background: url(../img/campaign-accent.svg) no-repeat;
	content: "";
	height: 15px;
	position: absolute;
	right: 12%;
	top: -28%;
	width: 16px;
}

.p-campaign__accent::after {
	border-bottom: 4px dotted #ED1C24;
	bottom: 4px;
	content: "";
	height: 4px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 100%;
}

.p-campaign__body {
	margin-left: min(17.2222vw, 248px);
	margin-top: 69px;
	text-align: left;
}

.p-campaign__special1 {
	height: auto;
	max-width: 100%;
}

.p-campaign__special2 {
	height: auto;
	margin-top: 58px;
	max-width: 100%;
}

.p-campaign__special3 {
	height: auto;
	margin-top: 63px;
	max-width: 100%;
}

.p-campaign__footer {
	background: url(../img/campaign-footer.png) no-repeat;
	height: 230px;
	margin: 73px auto 0;
	max-width: 100%;
	padding: 0 20px;
	width: 720px;
}

.p-campaign__upper {
	display: none;
}

.p-campaign__center {
	padding-top: 51px;
}

.p-campaign__tag {
	background: #fff;
	color: #333333;
	display: inline-block;
	font-size: 14px;
	padding: 0px 12px;
}

.p-campaign__description {
	font-size: 14px;
	font-weight: 700;
	margin-top: 22px;
	position: relative;
}

.p-campaign__description::after {
	background: url(../img/campaign-icon.png) no-repeat;
	content: "";
	height: 142px;
	position: absolute;
	right: 20px;
	top: 100%;
	transform: translateY(-50%);
	width: 150px;
}

.p-campaign__term {
	font-size: 42px;
	font-weight: 700;
	margin-top: 19px;
}

.p-campaign__term span {
	font-size: 24px;
}

.p-campaign__low {
	font-weight: 700;
	margin-top: 52px;
}

.p-contact {
	margin: 120px auto 46px;
}

.p-contact__top {
	text-align: center;
}

.p-contact__title {
	font-size: 36px;
	font-weight: 700;
	padding-left: 23px;
	position: relative;
	z-index: 10;
}

.p-contact__title span {
	font-size: 48px;
	overflow: hidden;
}

.p-contact__title::after {
	background: url(../img/contact-logo.svg) no-repeat center center/contain;
	bottom: -57%;
	bottom: -100%;
	content: "";
	height: 118px;
	left: 54.5%;
	left: 60%;
	position: absolute;
	width: 274px;
	z-index: -1;
}

.p-contact__form {
	margin: 94px auto 0;
	max-width: 100%;
	width: 701px;
}

.p-contact__dl {
	border-bottom: 1px solid #333;
	padding-bottom: 17px;
}

.p-contact__dl:not(:first-child) {
	margin-top: 23px;
}

.p-contact__head {
	align-items: flex-end;
	display: flex;
}

.p-contact__require {
	background: #ED1C24;
	color: #fff;
	font-size: 15px;
	padding: 1px 10px;
}

.p-contact__dt {
	color: #333;
	font-size: 18px;
	margin-left: 18px;
}

.p-contact__dd {
	margin-top: 16px;
}

.p-contact__dd.-add {
	margin-top: 17px;
}

.p-contact__dd [type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #F3F3F3;
	border: 1px solid #BCBCBC;
	border-radius: 10px;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: 16px;
	height: 50px;
	max-width: 100%;
	width: 700px;
}

.p-contact__dd [type=email] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #F3F3F3;
	border: 1px solid #BCBCBC;
	border-radius: 10px;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: 16px;
	height: 50px;
	max-width: 100%;
	width: 700px;
}

.p-contact__example {
	color: #000;
	margin-top: 18px;
}

.p-contact__kit {
	border-bottom: 1px solid #333;
	margin-top: 6px;
	padding-bottom: 42px;
}

.p-contact__radio {
	font-size: 18px;
	margin-left: 18px;
	margin-top: 20px;
}

.p-contact__row {
	margin-top: 20px;
}

.p-contact__row [type=radio] {
	display: none;
}

.p-contact__row span {
	display: inline-block;
	font-size: 20px;
	margin-right: 69px;
	margin-right: min(4.7916667vw, 69px);
	padding-left: 41px;
	position: relative;
}

.p-contact__row span:hover {
	cursor: pointer;
}

.p-contact__row span::before {
	border: 1px solid #ED1C24;
	border-radius: 50%;
	content: "";
	height: 20px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}

.p-contact__row span::after {
	background: #ED1C24;
	border-radius: 50%;
	content: "";
	display: none;
	height: 10px;
	left: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

.p-contact__row [type=radio]:checked + span::after {
	display: block;
}

.p-contact__body {
	margin-top: 32px;
}

.p-contact__need {
	height: auto;
	max-width: 100%;
}

.p-contact__need-sp {
	display: none;
}

.p-contact__check {
	background: #EDAEB2;
	color: #333;
	font-size: 20px;
	margin-top: 42px;
	padding: 56px 10px;
	text-align: center;
}

.p-contact__check [type=checkbox] {
	display: none;
}

.p-contact__check span {
	display: inline-block;
	margin-top: 25px;
	padding-left: 49px;
	position: relative;
}

.p-contact__check span:hover {
	cursor: pointer;
}

.p-contact__check span::before {
	background: #fff;
	border: 1px solid #333;
	border-radius: 6px;
	content: "";
	height: 30px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
}

.p-contact__check span::after {
	border-bottom: 4px solid #ED1C24;
	border-left: 4px solid #ED1C24;
	content: "";
	display: none;
	height: 12px;
	left: 5px;
	position: absolute;
	top: 40%;
	transform: translateY(-50%) rotate(-45deg);
	width: 20px;
}

.p-contact__check [type=checkbox]:checked + span::after {
	display: block;
}

.p-contact__text {
	font-size: 18px;
	padding-right: 26px;
}

.p-contact__text-1 {
	font-size: 18px;
	margin-top: 19px;
	padding: 0 42px;
}

.p-contact__text-1 a {
	text-decoration: underline;
}

.p-contact__btn {
	margin-top: 50px;
	padding: 0 20px;
	text-align: center;
}

.p-contact__btn [type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #ED1C24;
	border: none;
	border-radius: 99px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	height: auto;
	max-width: 100%;
	padding: 15px 90px;
	text-align: center;
	width: 360px;
}

.p-contact__btn [type=submit]:hover {
	transform: scale(1.05);
	transition: all 0.5s ease;
}

.p-footer {
	color: #fff;
}

.p-footer__logo {
	height: auto;
	width: 100%;
}

.p-footer__address {
	align-items: end;
	display: flex;
	gap: 116px;
	justify-content: center;
	width: 100%;
}

.p-footer__detail {
	font-weight: 500;
	line-height: 1.48;
	position: relative;
}

.p-footer__detail::before {
	border-left: 2px solid #fff;
	content: "";
	height: 56px;
	left: -54px;
	position: absolute;
	top: 0;
}

.p-footer__copyright {
	font-size: 12px;
	font-weight: 700;
	text-align: center;
}

.p-drawer {
	display: none;
}

.p-drawer__menu {
	font-size: 6px;
	font-weight: 700;
	margin-right: 0;
	text-align: right;
}

.p-drawer__menu.is-open {
	display: none;
}

.p-drawer__content {
	background: #000000;
	height: 100%;
	position: fixed;
	right: 0;
	top: 52px;
	transform: translateX(105%);
	transition: transform 0.5s ease 0s;
	width: 100%;
	z-index: 22;
}

.p-drawer__content.is-open {
	transform: translateX(0);
}

.p-drawer__lists {
	margin-left: 64px;
	margin-top: 77px;
}

.p-drawer__list {
	color: #fff;
	display: block;
	font-size: 24px;
	line-height: 2.2;
	margin-left: 41px;
	margin-top: 25px;
	position: relative;
}

.p-drawer__list:first-child {
	margin-top: 0;
}

.p-drawer__list::before {
	color: #fff;
	content: "◇";
	height: 25px;
	left: -39px;
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
	width: 25px;
}

.p-drawer__button {
	display: none;
	margin-top: 54px;
	text-align: center;
}

.p-drawer__button.is-open {
	display: block;
}

.p-drawer__background {
	background: #333333;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.9;
	position: fixed;
	top: 52px;
	width: 100%;
	z-index: 21;
}

.p-drawer__background.is-open {
	display: block;
}

.p-kv {
	background: url(../img/noimg.png) no-repeat center center/cover;
	height: 340px;
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	width: 1160px;
}

.p-kv img {
	height: auto;
	max-width: 100%;
}

.p-kv__title {
	content: "";
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.p-post {
	height: auto;
	margin: 20px auto 70px;
	max-width: 100%;
	width: 1160px;
}

.p-post__h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 1;
}

.p-post__h2 h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.33;
	margin-top: 40px;
}

.p-post__h3 h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	margin-top: 40px;
}

.p-post__text p {
	margin-top: 20px;
}

.p-post__text p a {
	color: #1e90ff;
	text-decoration: underline;
}

.p-post__lists ul {
	margin: 30px 0 20px;
}

.p-post__list li {
	list-style: disc inside;
}

.wp-block-quote {
	background: #dcdcdc;
	display: inline-block;
	margin: 0;
	padding: 0 16px 20px 16px;
}

.wp-element-button {
	margin: 50px 0 20px;
}

.wp-block-button__link {
	background: #fff;
	display: inline-block;
}

table {
	margin-top: 120px;
	width: 100%;
}

table tr {
	height: 100px;
}

table th,
table td {
	border: 1px solid #333;
}

.u-banner {
	background: #000000;
	height: 100px;
	margin: 0 auto;
	opacity: 0.9;
	width: 100%;
}

.u-banner__title {
	color: #fff;
	font-size: 30px;
	line-height: 100px;
	text-align: center;
}

.u-fix {
	background: rgba(0, 90, 176, 0.87);
	border: 1px solid #fff;
	bottom: 17px;
	height: auto;
	position: fixed;
	right: 20px;
	width: 387px;
	z-index: 10;
}

.u-fix__head {
	color: #fff;
	margin: 13px auto 5px;
	text-align: center;
}

.u-fix__body {
	color: #fff;
	display: flex;
	justify-content: left;
	margin-bottom: 15px;
	margin-left: 20px;
}

.u-fix__body img {
	height: auto;
	width: 50px;
}

.u-fix__number {
	font-size: 33px;
	margin-left: 20px;
}

.u-bg__slanting {
	border-color: transparent transparent #060A09 transparent;
	border-style: solid;
	border-width: 0 0 76px 1920px;
	height: 0;
	margin-top: -142px;
	width: 0;
}

.u-bg__square {
	background: url(/assets/img/step-bg.png) no-repeat center center/cover;
	height: 66px;
	margin: 0;
	width: 100%;
}

.u-bg__edit {
	background: #000;
	height: 180px;
	margin-top: -100px;
	max-width: 100%;
	width: 1920px;
}

@media screen and (min-width: 1440px) {

.is-tab {
	display: none;
}

.is-sp {
	display: none;
}

}

@media screen and (max-width: 1430px) {

.l-order {
	height: 387px;
}

.l-order.-step {
	height: 416px;
}

}

@media screen and (max-width: 999px) {

.is-pc {
	display: none;
}

.l-header {
	width: 100%;
}

.l-header__right {
	display: none;
}

.l-top__left {
	width: 100%;
}

.l-top__right {
	display: none;
}

.c-btn__white {
	padding: 28px 66px 22px;
}

.p-top__title {
	margin-left: auto;
	margin-right: auto;
}

.p-top__company {
	margin-left: auto;
	margin-right: auto;
}

.p-top__contents {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.p-top__btn {
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}

.p-point__content:nth-child(3) {
	margin-top: 0;
}

.p-point__content:nth-child(4) {
	margin-top: 56px;
}

.p-point__content:nth-child(5) {
	margin-top: 0;
}

.p-step__img {
	margin-top: 37px;
	padding: 0 24px;
	text-align: center;
}

.p-feature {
	margin: 0 auto;
	padding-left: 0;
	text-align: center;
}

.p-feature__text {
	margin: 19px auto 0;
	text-align: left;
}

.p-drawer {
	display: block;
	position: fixed;
	right: 20px;
	top: 5px;
	transition: transform 0.3s ease;
	z-index: 23;
}

.u-fix {
	display: none;
}

}

@media screen and (max-width: 767px) {

.is-pc {
	display: none;
}

.is-tab {
	display: none;
}

.is-pc {
	display: none;
}

.l-header {
	width: 100%;
}

.l-header__nav {
	height: 60px;
}

.l-header__left {
	margin: 0 auto;
	width: 100%;
}

.l-header__right {
	display: none;
}

.l-top {
	background: url(../img/top-imgSp.png) no-repeat right 57px, url(../img/top-vector.png) no-repeat right 200%/70%, url(../img/top-bg_01\ 2.png) no-repeat bottom right 80%/cover;
	height: auto;
	position: relative;
	width: 100%;
}

.l-top::after {
	content: "";
	left: 50%;
	position: absolute;
	top: 50%;
}

.l-top__nav {
	display: block;
	margin-bottom: 13px;
}

.l-top__left {
	margin-top: 85px;
	width: 100%;
}

.l-top__right {
	display: none;
}

.l-inner {
	padding: 0 11px;
	width: 100%;
}

.l-inner.-brand {
	padding: 0 3px;
}

.l-inner.-qa {
	padding: 0px;
}

.l-inner.-feature {
	padding: 0 11px;
}

.l-inner.-campaign {
	padding: 0 10px;
}

.l-order {
	height: 195px;
	padding: 15px 0 38px;
}

.l-order.-step {
	height: 234px;
	padding: 27px 0 65px;
}

.l-order.-voice {
	padding: 21px 0 30px;
}

.l-step {
	background: url(../img/step-bg_sp.png) no-repeat center center/cover;
	background: #060A09;
	margin-top: -172px;
}

.l-case {
	background: url(../img/case-bg__sp.png) no-repeat center center/cover;
}

.l-brand {
	background: url(../img/brand-bgSp.png) no-repeat 100% 124%, url(../img/brand-bg__sp.png) no-repeat center center/cover;
	margin-top: -92px;
	transform: skewY(-6deg);
}

.l-feature {
	background-position: 30% 50%;
}

.l-about {
	background-position: 81% 50%;
}

.l-footer__head {
	padding-top: 33px;
}

.l-breadcrumbs {
	font-size: 14px;
	padding-top: 78px;
}

.c-footer {
	width: 100%;
}

.c-footer__left {
	margin-left: 10px;
	width: 90%;
}

.c-footer__address {
	font-size: 16px;
}

.c-footer__right {
	margin-left: 10px;
	width: 90%;
}

.c-footer__right img {
	margin-top: 16px;
}

.c-footer__info {
	margin-top: 22px;
}

.c-footer__number {
	font-size: 24px;
}

.c-footer__contact {
	font-size: 14px;
	margin-bottom: 20px;
}

.slider .swiper-slide img {
	height: 180px;
	width: 300px;
}

.c-btn {
	border-bottom: 6px solid #a30000;
	padding: 17px 51px 15px;
}

.c-btn__text {
	font-size: 14px;
}

.c-btn__text.-black {
	font-size: 16px;
}

.c-btn__white {
	padding: 10px 52px 6px;
}

.c-brand__btn {
	background: url(../img/brand-btnSp.png) no-repeat center center/contain;
	height: 21px;
	width: 140px;
}

.c-brand__model {
	font-size: 10px;
}

.p-header__logo {
	margin: 9px auto 0;
	text-align: center;
	width: 100%;
}

.p-top__title {
	display: none;
}

.p-top__title-sp {
	display: block;
	height: auto;
	margin: 0 auto;
	width: 291px;
}

.p-top__company {
	display: none;
}

.p-top__company-sp {
	display: block;
	margin: 25px auto 0;
	text-align: center;
}

.p-top__contents {
	gap: 0px;
	justify-content: center;
	margin: 19px auto 0;
}

.p-top__transfer {
	display: none;
}

.p-top__transfer-sp {
	display: block;
	margin-left: 4px;
}

.p-top__price {
	display: none;
}

.p-top__price-sp {
	display: block;
	margin-left: -1px;
}

.p-top__btn {
	margin: 2px auto 0;
	text-align: center;
}

.p-top__archiveSp {
	display: block;
	margin: 15px auto 0;
	margin-left: 2px;
	text-align: center;
	width: 100%;
}

.p-top__archiveSp img {
	height: auto;
	width: 296px;
}

.p-order__btn {
	margin-top: -2px;
}

.p-order__btn.-voice {
	margin-top: 0;
}

.p-point {
	padding-top: 59px;
}

.p-point__title {
	display: none;
}

.p-point__title-sp {
	display: block;
	height: auto;
	margin-left: 5px;
	text-align: center;
	width: 100%;
}

.p-point__contents {
	flex-direction: column;
	gap: 49px 10px;
	margin-left: -2px;
	margin-top: 59px;
}

.p-point__content {
	margin-left: auto;
	margin-left: 3px;
	margin-right: auto;
}

.p-point__content:nth-child(3n) {
	margin-right: auto;
}

.p-point__content:nth-child(2) {
	margin-top: 0;
}

.p-point__content:nth-child(3) {
	margin-top: 0;
}

.p-point__content:nth-child(4) {
	margin-top: 0;
}

.p-point__content:nth-child(5) {
	margin-left: 1px;
	margin-top: 0;
}

.p-step {
	background: none;
	margin-bottom: 187px;
	margin-top: 244px;
}

.p-step__concept {
	font-size: 14px;
	padding: 0 9px 1px 15px;
}

.p-step__top {
	margin-left: 0;
	margin-top: 15px;
}

.p-step__title {
	display: none;
}

.p-step__titleSp {
	display: block;
	position: relative;
	z-index: 10;
}

.p-step__logo {
	height: 63px;
	margin-left: -57px;
	margin-top: -32px;
	width: 86px;
}

.p-step__contents {
	gap: 54px;
	margin-top: 57px;
	width: 450px;
}

.p-step__content {
	margin: 0 auto;
}

.p-step__content:first-child {
	margin-top: 0;
	padding-top: 0;
}

.p-step__content:nth-child(2) {
	height: 345px;
	margin-top: -31px;
}

.p-step__content:nth-child(3) {
	margin-top: -36px;
	padding-top: 24px;
}

.p-step__content:nth-child(4) {
	margin: -12px auto 0;
	padding-top: 5px;
}

.p-step__content:not(:first-child)::before {
	background: url(../img/arrow-down.svg) no-repeat;
	left: 50%;
	top: -12%;
	transform: translateX(-50%);
}

.p-step__pack {
	flex-direction: column;
	height: auto;
	margin-top: 16px;
	padding: 46px 0 58px;
	width: 100%;
}

.p-step__left {
	width: 100%;
}

.p-step__right {
	width: 100%;
}

.p-step__sub {
	margin: 0 auto;
	padding-left: 37px;
	text-align: center;
}

.p-step__row {
	margin: 32px auto 0;
	padding: 0 20px;
}

.p-step__kit {
	margin: 45px auto 0;
	text-align: center;
}

.p-step__lists {
	gap: 20px;
}

.p-step__img {
	margin-top: 37px;
	padding: 0 24px;
}

.p-case {
	padding: 152px 0;
}

.p-case__title {
	font-size: 28px;
	line-height: 1.35;
}

.p-case__title span {
	font-size: 40px;
}

.p-case__title::after {
	bottom: -8%;
	height: 50px;
	left: 68%;
	width: 95px;
}

.p-case__lists {
	gap: 50px;
	grid-template-columns: repeat(auto-fit, 250px);
	margin: 57px auto 0;
}

.p-case__list:nth-child(2) {
	margin-top: -24px;
}

.p-case__list:nth-child(3) {
	margin-top: 30px;
}

.p-case__list:nth-child(5) {
	margin-top: 59px;
}

.p-case__list:nth-child(6) {
	margin-top: 88px;
}

.p-case__list:nth-child(7) {
	margin-top: 29px;
}

.p-case__list:nth-child(8) {
	margin-top: 28px;
}

.p-case__img {
	height: 250px;
	padding: 37px 63px;
	width: 250px;
}

.p-case__img img {
	height: 175px;
	width: 123px;
}

.p-case__body {
	width: 243px;
}

.p-case__subTitle {
	font-size: 20px;
}

.p-case__price {
	gap: 36px;
	height: 32px;
	margin-left: -4px;
	margin-top: 29px;
	width: 250px;
}

.p-case__name {
	font-size: 14px;
}

.p-case__money {
	font-size: 18px;
}

.p-case__money span {
	font-size: 32px;
	font-size: 28px;
}

.p-case__comment {
	margin-left: 0;
	margin-top: 80px;
}

.p-case__text {
	font-size: 13px;
}

.p-brand {
	padding: 56px 0 138px;
	transform: skewY(6deg);
}

.p-brand__title {
	display: none;
}

.p-brand__titleSp {
	display: block;
	height: auto;
	margin: 0 auto;
	text-align: center;
	width: 298px;
}

.p-brand__lists {
	gap: 16px 7px;
	grid-template-columns: repeat(auto-fit, 146px);
	margin-top: 37px;
}

.p-brand__list {
	height: 146px;
	width: 146px;
}

.p-brand__head {
	height: 9px;
	margin: 9px;
}

.p-brand__logo {
	font-size: 12px;
}

.p-brand__line {
	width: 95px;
}

.p-brand__body {
	margin-top: 17px;
}

.p-brand__img img {
	height: 67px;
	width: 47px;
}

.p-brand__model {
	margin-top: 12px;
}

.p-brand__footer {
	padding-bottom: 37px;
	transform: skewY(6deg);
}

.p-brand__inner {
	padding: 0 11px;
	width: 100%;
}

.p-brand__subTitle {
	display: none;
}

.p-brand__subTitleSp {
	display: block;
	height: auto;
	margin: 0 auto;
	width: 299px;
}

.p-brand__contents {
	gap: 54px;
	margin-top: 40px;
}

.p-brand__text {
	margin-top: 30px;
	padding-right: 23px;
}

.p-brand__ok {
	margin-top: -13px;
}

.p-brand__ok.-second {
	margin-bottom: 19px;
	margin-top: 0px;
	padding-right: 6px;
}

.p-brand__ok.-third {
	margin-bottom: 39px;
}

.p-brand__ok.-fourth {
	margin-top: 21px;
}

.p-voice {
	padding: 44px 0 63px;
}

.p-voice__title {
	font-size: 40px;
}

.p-voice__title::after {
	bottom: 0%;
	height: 48px;
	left: 59%;
	width: 123px;
}

.p-voice__comments {
	display: block;
	margin: 54px auto 0;
	padding: 21px 22px 37px;
}

.p-voice__comment {
	flex-direction: column;
}

.p-voice__comment:nth-child(n+2) {
	margin-top: 48px;
}

.p-voice__comment.-revers {
	flex-direction: column;
}

.p-voice__left {
	width: 100%;
}

.p-voice__person {
	margin: 0 auto;
	padding-left: 11px;
}

.p-voice__right {
	width: 100%;
}

.p-voice__row {
	font-size: 16px;
	margin-top: 23px;
	padding-bottom: 12px;
	text-align: center;
}

.p-voice__row.-second {
	letter-spacing: -0.06em;
	margin-top: 23px;
}

.p-voice__row.-third {
	margin-top: 21px;
}

.p-voice__text {
	letter-spacing: -0.03em;
	margin-top: 9px;
}

.p-qa {
	margin: 42px auto 53px;
	padding: 0;
	padding-right: 13px;
}

.p-qa__title {
	font-size: 40px;
	font-size: min(12.5vw, 40px);
}

.p-qa__title::after {
	bottom: -41%;
	height: 88px;
	left: 60%;
	width: 123px;
}

.p-qa__categories {
	grid-template-columns: repeat(auto-fit, 142px);
	margin-top: 90px;
	padding-left: 4px;
}

.p-qa__category {
	font-size: 12px;
}

.p-qa__lists {
	margin-top: 60px;
	padding: 0 10px;
}

.p-qa__list:nth-child(n+2) {
	margin-top: 20px;
}

.p-qa__list:nth-child(n+3) {
	margin-top: 31px;
}

.p-qa__list:nth-child(4) {
	margin-top: 43px;
}

.p-qa__list:nth-child(n+6) {
	margin-top: 22px;
}

.p-qa__question {
	font-size: 14px;
	padding: 0 26px 0 40px;
}

.p-qa__question::before {
	top: 50%;
}

.p-qa__arrow1 {
	background: url(../img/arrow-down__sp.svg) no-repeat;
	height: 9px;
	top: 10px;
	width: 16px;
}

.p-qa__arrow1:nth-child(2) {
	top: 50%;
}

.p-qa__answer {
	font-size: 14px;
	margin-top: 17px;
	padding: 0 25px 0 40px;
}

.p-feature {
	padding: 110px 0 114px;
}

.p-feature__title {
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	width: 300px;
}

.p-feature__low {
	margin-top: 44px;
}

.p-feature__tag {
	font-size: 16px;
	padding: 2px 22px 1px 10px;
}

.p-feature__text {
	font-size: 16px;
	margin-top: 12px;
}

.p-about {
	padding: 106px 0 64px;
}

.p-about__title {
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	width: 300px;
}

.p-about__low {
	margin-top: 18px;
}

.p-about__middle {
	font-size: 16px;
}

.p-about__sub {
	font-size: 40px;
	margin-top: 2px;
}

.p-about__tag {
	font-size: 16px;
	margin-top: 31px;
	padding: 2px 6px 1px 4px;
}

.p-about__text {
	font-size: 16px;
	letter-spacing: -0.04em;
}

.p-campaign {
	padding: 36px 0 60px;
}

.p-campaign__title {
	padding-left: 4px;
}

.p-campaign__detail {
	font-size: 24px;
	margin-top: 80px;
}

.p-campaign__detail::before {
	left: -28px;
	top: 8%;
	transform: rotate(-30deg);
}

.p-campaign__detail::after {
	right: -28px;
	top: 5%;
	transform: rotate(30deg);
}

.p-campaign__contents {
	margin-top: 34px;
	padding: 28px 0 81px;
}

.p-campaign__text {
	font-size: 16px;
	padding-right: 6px;
}

.p-campaign__text span {
	font-size: 24px;
}

.p-campaign__accent {
	font-size: 18px;
	margin-top: 14px;
	padding: 0 2px;
}

.p-campaign__accent span {
	font-size: 24px;
}

.p-campaign__accent::before {
	right: 6%;
	top: -34%;
}

.p-campaign__accent::after {
	border-bottom: 3px dotted #ED1C24;
	bottom: -3px;
	height: 3px;
}

.p-campaign__footer {
	background: url(../img/campaign-footer__sp.png) no-repeat;
	height: 348px;
	margin-top: 48px;
	max-width: 100%;
	padding: 0 11px;
	width: 278px;
}

.p-campaign__upper {
	display: block;
	height: auto;
	margin: 0 auto;
	padding-left: 39px;
	padding-top: 57px;
	width: 100%;
}

.p-campaign__center {
	margin-top: -47px;
}

.p-campaign__tag {
	font-size: 12px;
	padding: 0px 8px;
}

.p-campaign__description::after {
	display: none;
}

.p-campaign__description {
	margin-top: 13px;
}

.p-campaign__term {
	font-size: 32px;
	margin-top: 10px;
}

.p-campaign__term span {
	font-size: 18px;
}

.p-campaign__low {
	text-align: left;
}

.p-contact {
	margin: 56px auto 65px;
}

.p-contact__title {
	font-size: 24px;
	padding-left: 0;
}

.p-contact__title span {
	font-size: 32px;
	font-size: min(10vw, 32px);
}

.p-contact__title::after {
	bottom: -41%;
	height: 68px;
	left: 48%;
	width: 154px;
}

.p-contact__form {
	margin-top: 31px;
}

.p-contact__dl {
	padding-bottom: 19px;
}

.p-contact__dl:not(:first-child) {
	margin-top: 21px;
}

.p-contact__dd.-add {
	margin-top: 20px;
}

.p-contact__kit {
	margin-top: 3px;
	padding-bottom: 34px;
}

.p-contact__row {
	margin-top: 42px;
}

.p-contact__row span:nth-child(2) {
	margin-bottom: 17px;
}

.p-contact__body {
	margin-top: -6px;
}

.p-contact__check {
	font-size: 18px;
	margin-top: 59px;
	padding: 24px 0 34px;
}

.p-contact__check span {
	margin-top: 24px;
	padding-left: 32px;
}

.p-contact__check span::before {
	height: 23px;
	width: 23px;
}

.p-contact__check span::after {
	border-bottom: 2px solid #ED1C24;
	border-left: 2px solid #ED1C24;
	height: 9px;
	left: 5px;
	top: 40%;
	width: 15px;
}

.p-contact__text {
	font-size: 15px;
	padding-right: 0;
}

.p-contact__text-1 {
	font-size: 12px;
}

.p-contact__btn {
	margin-top: 42px;
}

.p-contact__btn [type=submit] {
	padding: 7px 31px;
}

.p-footer__address {
	flex-direction: column;
	gap: 50px;
}

.p-footer__company {
	text-align: center;
	width: 100%;
}

.p-footer__detail {
	text-align: center;
	width: 100%;
}

.p-footer__copyright {
	font-size: 10px;
	width: 100%;
}

.p-drawer {
	display: block;
	position: fixed;
	right: 20px;
	top: 5px;
	transition: transform 0.3s ease;
	z-index: 23;
}

.p-post__h1 {
	font-size: 36px;
}

.p-post__h2 h2 {
	font-size: 24px;
}

.p-post__h3 h3 {
	font-size: 20px;
}

.u-banner__title {
	font-size: 24px;
}

.u-fix {
	display: none;
}

}

@media screen and (max-width: 600px) {

.p-order {
	display: none;
}

.p-order__sp1 {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	width: 100%;
}

.p-order__sp1.-step {
	transform: skewY(3.747558deg);
}

.p-order__sp2 {
	color: #fff;
	display: inline-block;
	font-size: 18px;
	margin-left: 2px;
	margin-top: 0;
	padding: 0 8px;
	position: relative;
	text-align: center;
}

.p-order__sp2.-step {
	transform: skewY(3.747558deg);
}

.p-step {
	padding-left: 0;
}

.p-qa__categories {
	gap: 33px 8px; /*  スマホ表示で min(5.76vw,83px)が2列にならなかったら入れる*/
}

.p-feature__low {
	text-align: left;
}

.p-campaign__body {
	margin: 40px auto 0;
	padding: 0 11px;
}

.p-campaign__special1 {
	height: 39;
	width: 126px;
}

.p-campaign__special2 {
	height: 42px;
	margin-top: 38px;
	width: 181px;
}

.p-campaign__special3 {
	height: 68px;
	margin-top: 38px;
	width: 276px;
}

.p-contact__need {
	display: none;
}

.p-contact__need-sp {
	background: url(../img/contact-need__bg.png) no-repeat;
	display: block;
	height: 51px;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	padding: 13px 22px 11px;
	width: 299px;
}

}

@keyframes my-fade-in {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes my-fade-in {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes my-fade-in {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes my-fade-in {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

