@use "../global" as global;

.p-campaign {
  margin: 0 auto;
  padding: 120px 0;
  width: 100%;
  text-align: center;
  color: #fff;

  @include global.mq(sp) {
    padding: 36px 0 60px;
  }
}

.p-campaign__top {
  max-width: 0 auto;
}

.p-campaign__title {
  margin: 0 auto;
  width: 780px;
  max-width: 100%;
  height: auto;
  padding-left: 22px;

  @include global.mq(sp) {
    padding-left: 4px;
  }
}

.p-campaign__detail {
  margin-top: 124px;
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-left: 3px solid #fff;
    height: 30px;
    left: -28px;
    top: 25%;
    transform: rotate(-30deg);
  }

  &::after {
    content: "";
    position: absolute;
    border-right: 3px solid #fff;
    height: 30px;
    right: -26px;
    top: 25%;
    transform: rotate(30deg);
  }

  @include global.mq(sp) {
    margin-top: 80px;
    font-size: 24px;

    &::before {
      left: -28px;
      top: 8%;
      transform: rotate(-30deg);
    }

    &::after {
      right: -28px;
      top: 5%;
      transform: rotate(30deg);
    }
  }
}

.p-campaign__contents {
  margin: 55px auto 0;
  width: 1000px;
  max-width: 100%;
  height: auto;
  background: #fff;
  padding: 94px 0 96px;

  @include global.mq(sp) {
    margin-top: 34px;
    padding: 28px 0 81px;
  }
}

.p-campaign__head {


}

.p-campaign__text {
  padding-right: 10px;
  color: global.$accent-subColor;
  font-size: 24px;
  font-weight: 700;

  span {
    background: global.$accent-subColor;
    color: #fff;
    font-size: 30px;
    letter-spacing: .1em;
  }

  @include global.mq(sp) {
    font-size: 16px;
    padding-right: 6px;

    span {
      font-size: 24px;
    }
  }
}

.p-campaign__accent {
  margin-top: 8px;
  display: inline-flex;
  color: global.$accent-subColor;
  font-size: 30px;
  font-weight: 700;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(../img/campaign-accent.svg) no-repeat;
    width: 16px;
    height: 15px;
    top: -28%;
    right: 12%;
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 4px dotted global.$accent-subColor;
    width: 100%;
    height: 4px;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include global.mq(sp) {
    margin-top: 14px;
    padding: 0 2px;
    font-size: 18px;

    span {
      font-size: 24px;
    }

    &::before {
      top: -34%;
      right: 6%;
    }

    &::after {
      border-bottom: 3px dotted global.$accent-subColor;
      height: 3px;
      bottom: -3px;
    }
  }
}

.p-campaign__body {
  margin-top: 69px;
  margin-left: min(17.2222vw, 248px);
  text-align: left;

  @include global.mq(ss) {
    margin: 40px auto 0;
    padding: 0 11px;
  }
}

.p-campaign__special1 {
  max-width: 100%;
  height: auto;

  @include global.mq(ss) {
    width: 126px;
    height: 39;
  }
}

.p-campaign__special2 {
  margin-top: 58px;
  max-width: 100%;
  height: auto;

  @include global.mq(ss) {
    margin-top: 38px;
    width: 181px;
    height: 42px;
  }
}

.p-campaign__special3 {
  margin-top: 63px;
  max-width: 100%;
  height: auto;

  @include global.mq(ss) {
    margin-top: 38px;
    width: 276px;
    height: 68px;
  }
}

.p-campaign__footer {
  margin: 73px auto 0;
  padding: 0 20px;
  background: url(../img/campaign-footer.png) no-repeat;
  width: 720px;
  max-width: 100%;
  height: 230px;

  @include global.mq(sp) {
    margin-top: 48px;
    padding: 0 11px;
    background: url(../img/campaign-footer__sp.png) no-repeat;
    width: 278px;
    max-width: 100%;
    height: 348px;
  }
}

.p-campaign__upper {
  display: none;

  @include global.mq(sp) {
    display: block;
    margin: 0 auto;
    padding-top: 57px;
    padding-left: 39px;
    width: 100%;
    height: auto;
  }
}

.p-campaign__center {
  padding-top: 51px;

  @include global.mq(sp) {
    margin-top: -47px;
  }
}

.p-campaign__tag {
  display: inline-block;
  padding: 0px 12px;
  font-size: 14px;
  background: #fff;
  color: global.$sub-color;

  @include global.mq(sp) {
    font-size: 12px;
    padding: 0px 8px;
  }
}

.p-campaign__description {
  margin-top: 22px;
  font-size: 14px;
  font-weight: 700;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: url(../img/campaign-icon.png)no-repeat;
    width: 150px;
    height: 142px;
    top: 100%;
    right: 20px;
    transform: translateY(-50%);

    @include global.mq(sp) {
      display: none;
    }
  }

  @include global.mq(sp) {
    margin-top: 13px;
  }
}

.p-campaign__term {
  margin-top: 19px;
  font-size: 42px;
  font-weight: 700;

  span {
    font-size: 24px;
  }

  @include global.mq(sp) {
    margin-top: 10px;
    font-size: 32px;

    span {
      font-size: 18px;
    }
  }
}

.p-campaign__low {
  margin-top: 52px;
  font-weight: 700;

  @include global.mq(sp) {
    text-align: left;
  }
}
