@use "../global" as global;

.c-footer{
  margin: 0 auto;
  background: url(/assets/img/Group\ 15.png) no-repeat center center /contain;
  width: 144px;
  height: auto;
  background: #fff;

  @include global.mq(sp) {
    width: 100%;
  }
}

.c-footer__left {
  width: 50%;
  margin: 10px auto 20px;
  margin-left: 40px;

  @include global.mq(sp) {
    width: 90%;
    margin-left: 10px;
  }
}

.c-footer__address {
  // margin-left: 60px;
  text-align: center;
  font-size: 18px;

  @include global.mq(sp) {
    font-size: 16px;
  }
}

.c-footer__right {
  width: 50%;
  margin-left: 30px;

  img {
    margin-top: 26px;
    margin-left: 7px;
    width: 48px;
    height: 79px;
  }

  @include global.mq(sp) {
    width: 90%;
    margin-left: 10px;

    img {
      margin-top: 16px;
    }
  }
}

.c-footer__row {
  display: flex;
}

.c-footer__info {
  margin-top: 32px;
  margin-left: 7px;

  @include global.mq(sp) {
    margin-top: 22px;
  }
}

.c-footer__number {
  color: #e21c21;
  font-size: 35px;

  @include global.mq(sp) {
    font-size: 24px;
  }
}

.c-c-footer__message {
  font-size: 18px;
  text-align: center;
}

.c-footer__contact {
  margin-top: 5px;
  margin-left: 30px;
  font-size: 18px;

  @include global.mq(sp) {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
